html, button, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
h1 {
  margin-top: 50px;
  text-transform: uppercase;
}
input {
  padding: 5px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #9e9e9ead;
}
button {
  padding: 7px;
  min-width: 120px;
  cursor: pointer;
  background: #8BC34A;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}
a {
  color: #2196F3;
  text-decoration: none;
}
.note {
  margin-top: 5px;
  line-height: 1.2;
}
small {
  font-family: inherit;
  color: #9a9696;
}
.alert {
  width: 100%;
  text-align: center;
  background: #ff4206;
  color: white;
  font-weight: 600;
  position: fixed;
  font-size: 16px;
  top: 0;
  left: 0;
}
